In [ ]:
import pandas as pd

d_parser = lambda x: pd.to_datetime(x,format='%Y-%m-%d %I-%p')
df = pd.read_csv('data/ETH_1h.csv',parse_dates=['Date'],date_parser=d_parser)
# df = pd.read_csv('data/ETH_1h.csv')

In [ ]:
# this wont work bcz our date is not converted to date time its just a string
df.loc[0,'Date'].day_name()

In [ ]:
# we are converting our date column to from string to datetime type in order to access day_name
df['Date'] = pd.to_datetime(df['Date'], format= '%Y-%m-%d %I-%p')


# you can do this as you load your file on the first line 
# d_parser = lambda x: pd.to_datetime(x,format='%Y-%m-%d %I-%p')
# df = pd.read_csv('data/ETH_1h.csv',parse_dates=['Date'],date_parser=d_parser)

In [ ]:
# this will then work to get the day_name of the 0 index date
df.loc[0,'Date'].day_name()

In [ ]:
# here we are using dt class on the series to access day_name of all dates in the series
df['Date'].dt.day_name()

In [ ]:
df['Daye of Week'] = df['Date'].dt.day_name()
df

In [ ]:
# to view earliest date 
df['Date'].min()

In [ ]:
# to view latest date 
df['Date'].max()

In [ ]:
#  to view amount of time btn dates
df['Date'].max() - df['Date'].min()

In [ ]:
#  filters by date

#  here we are using strings 
filt = (df['Date'] >= '2019') & (df['Date'] < '2020')
df.loc[filt]

In [ ]:
#  filters by date

#  here we are using datetime objects 
filt = (df['Date'] >= pd.to_datetime('2019-01-01')) & (df['Date'] < pd.to_datetime('2020-01-01'))
df.loc[filt]

In [ ]:
#  set date as index
df.set_index('Date', inplace=True)
# df.reset_index(inplace=True)

# now things can be simple since you can now get data
# of a specific year by just selecting the index

In [ ]:
# now you can access date like this 
df.loc['2020-03-13']

In [ ]:
#  if you want a range of dates you can use slicing

#  after some errors it happened i needed to first sort for slicing 
#  to work
sorted_df = df.sort_index()
sorted_df.loc['2020-01': '2020-02']

In [ ]:
#  accessing the close column and then calculate mean
sorted_df.loc['2020-01': '2020-02']['Close'].mean()

In [ ]:
#  getting the maximun High  of the day
sorted_df.loc['2020-01-01']['High'].max()

In [ ]:
# our data is in hourly basis 
#  if we wanted to change its frequency to a daily basis we use resample
#  and the pass the new frequency
#  not that to you need to be having datetimeIndex for it to work

#  this will resample the High data daily and then get the max high for each day
highs = df['High'].resample('D').max()

#  now you can access the hight of any day
highs['2020-01-01']

In [ ]:
%matplotlib inline

In [ ]:
highs.plot()

In [ ]:
#  resample multiple columns

# this wont work
# df.resample('W').mean()

#  cz you can not make some aggregation with non numeric data
#  we first select the numeric data and then perform aggregation
#  otherwise it will be an error
numeric_col = df.select_dtypes(include=['number'])
numeric_col.resample('W').mean()

In [33]:
#  agg method
#  agg helps us make different aggregations to different columns
numeric_col.resample('W').agg({'Close':'mean','High':'max','Low':'min','Volume':'sum'})

                 Close    High     Low        Volume
Date
2017-07-02  268.202162  293.73  253.23  8.084631e+07
2017-07-09  261.062083  285.00  231.25  2.246746e+08
2017-07-16  195.698393  240.33  130.26  5.017750e+08
2017-07-23  212.783750  249.40  153.25  7.221637e+08
2017-07-30  203.309524  229.99  178.03  2.657305e+08
...                ...     ...     ...           ...
2020-02-16  255.198452  290.00  216.31  3.912867e+08
2020-02-23  265.321905  287.13  242.36  3.067838e+08
2020-03-01  236.373988  278.13  209.26  3.693920e+08
2020-03-08  229.817619  253.01  196.00  2.736569e+08
2020-03-15  176.332821  208.65   90.00  4.983998e+08

[142 rows x 4 columns]