In [3]:
import pandas as pd
import numpy as np

# handling custom missing values

#  we make a list for those values
na_vals = ['NA','Missing']
# then apply it in the na_values argument when reading the file . see on the next line down
# .........................


df = pd.read_csv('data/survey_results_public.csv',index_col='ResponseId', na_values=na_vals)
shema_df = pd.read_csv('data/survey_results_schema.csv',index_col='qname')

In [2]:
pd.set_option('display.max_columns',84)
pd.set_option('display.max_rows',84)

In [4]:
df.head()

ResponseId
1        NaN
2         18
3         27
4         12
5          6
        ...
89180     20
89181      5
89182     10
89183      3
89184     17
Name: YearsCode, Length: 89184, dtype: object

In [ ]:
shema_df

In [ ]:
df.shape

In [ ]:
df['Employment']

In [ ]:
df['Employment'].value_counts()

In [ ]:
shema_df.loc['Employment','question']

In [ ]:
# shema_df.sort_index(ascending=True,inplace=True)
# shema_df
df.columns

In [ ]:
high_salary = (df['ConvertedCompYearly'] > 70000)
lang_filter = df['LanguageHaveWorkedWith'].str.contains('Python',na=False)
countries = ['United States of America','Austria']
country_filt = df['Country'].isin(countries)
df.loc[lang_filter, ['Age','ConvertedCompYearly','Country','LanguageHaveWorkedWith']]

In [ ]:
df.columns = [x.lower() for x in df.columns]
df

In [ ]:
df.columns = df.columns.str.replace('_', ' ')
df

In [ ]:
df.rename(columns={'MAIN':'MAINBRANCH'}, inplace=True)
df

In [ ]:
# df.loc[1] = ['ggg','ggg',....] <- for altering the whole row


# df.loc[1, ['EMPLOYMENT','REMOTEWORK']] = ['andela','yes']
df.loc[1, 'EMPLOYMENT'] = 'andelass'
df

In [ ]:
df.at[1,'EMPLOYMENT'] = 'andela'

In [ ]:
# another way without using index
filt = (df['EMPLOYMENT'] == 'andela')
df.loc[filt, 'EMPLOYMENT'] = 'Angularrii'
df

In [ ]:
# cahing multiple rows at once
df['EMPLOYMENT']= df['EMPLOYMENT'].str.lower()
df

In [ ]:
# apply
# map
# applymap
# replace

In [ ]:
df['MAINBRANCH'].apply(len)

In [ ]:
def update_branch(name):
    return name.upper()

In [ ]:
df['MAINBRANCH'].apply(update_branch)

In [ ]:
df['MAINBRANCH'] = df['MAINBRANCH'].apply(update_branch)
df

In [ ]:
df['MAINBRANCH'] = df['MAINBRANCH'].apply(lambda x: x.lower())
df

In [ ]:
# it applys on Dataframe
df.apply(len,axis='columns')

In [ ]:
# applys on each element of the series in the dataframe

In [ ]:
# df['SOAccount'] = df['SOAccount'].map({'Yes':True, 'No':False})
df['SOAccount'] = df['SOAccount'].replace({'Yes':True, 'No':False})

In [ ]:
# combine columns data
df['Combine'] = df['learncodecoursescert'] + ' ' + df['languagewanttoworkwith']

In [ ]:
# delete column
df.drop(columns=['Combine'], inplace=True)

In [ ]:
# add new columns 
# expand is used for making columns on the split data but not on the data frame
# main and q will be the new comuns created on the original dataframe with the slipt column data
# below code might not work bcz of the combine data has many spaces
df[['main','q']] = df['Combine'].str.split(' ', expand=True)

In [ ]:
# add new row
df = df._append({'age':'199'}, ignore_index=True)
df

In [ ]:
df2= pd.DataFrame(df)
df2.drop(columns='age',inplace=True)
df2

In [ ]:
# adding two dataframes together
df._append(df2, ignore_index=True,sort=False)

# use the bellow one to accept the changes to the dataframe
# df = df._append(df2, ignore_index=True,sort=False)

In [ ]:
# droping rowsf
filt = df['age'] =='199'
df.drop(index= df[filt].index)

In [ ]:
# sorting

# by default is ascending to make it descending make it as below
df.sort_values(by='employment', ascending=False)

In [ ]:
# sorting using multiple columns
# here is sorts based on employment and if there are similar values it sorts them using age
df.sort_values(by=['employment','age'], ascending=False)

In [ ]:
# sorting both ascending and descending
# similar tot he above but sorts employment in descending and then age in ascending 
df.sort_values(by=['employment','age'], ascending=[False, True])

# to save changes permanent you add inplace to True like below
# df.sort_values(by=['employment','age'], ascending=[False, True], inplace=True)

In [ ]:
# sorting back to default way
df.sort_index()

In [ ]:
# sorting single column
df['age'].sort_values()

In [ ]:
df.sort_values(by=['country','convertedcompyearly'], ascending=[True,False], inplace=True)

In [ ]:
# this returns the n largest values of that column
# df['convertedcompyearly'].nlargest(15)

# this returns the largest but also othe results for that data
df.nlargest(3,'convertedcompyearly')

In [ ]:
# getting the smallest
df['convertedcompyearly'].nsmallest(15)
# df.nsmallest(3,'convertedcompyearly')

In [ ]:
# DATA CASTING

In [ ]:
# median
df['convertedcompyearly'].median()

In [ ]:


# using numpy to select only numeric columns 
numeric_df = df.select_dtypes(include=[np.number])
numeric_df.median()

# df.median(numeric_only=None)  <- this wont work because it contains non numeric data

In [ ]:
# the will give an overall many details about the df (numeric rows)
df.describe()

In [ ]:
# normalize 
df['industry'].value_counts(normalize=True)

In [ ]:
df['country'].value_counts()

In [ ]:
# splitting objects
country_grp = df.groupby(['country'])

In [ ]:
# this will give all survey data only from india
country_grp.get_group('India')

# the result for one specific country about industry
country_grp.get_group('India')['industry'].value_counts()

In [ ]:
# simplified version 
country_grp['industry'].value_counts().loc['China']

In [ ]:
country_grp['convertedcompyearly'].median().loc['India']

In [ ]:
# use agg to apply multiple aggregate function and then add the functions you want to use
country_grp['convertedcompyearly'].agg(['median','mean'])

In [ ]:
filt_c = df['country'] == 'India'
# this will return sum of people from india who sayed they worked with Python
df.loc[filt_c,'languagehaveworkedwith'].str.contains('Python').sum()

In [ ]:
country_grp['languagehaveworkedwith'].apply(lambda x: x.str.contains('Python').sum())

In [ ]:
# doing it my way
def filt_func(x):
    well = x.str.contains('Python')
    return well.sum()
country_grp['languagehaveworkedwith'].apply(filt_func)

In [ ]:
# Quest 1: find percentage for each country ppl who know python

# first we find the total number of ppl
respondents = df['country'].value_counts()


# find ppl who know python in each country
country_python_users = country_grp['languagehaveworkedwith'].apply(lambda x: x.str.contains('Python').sum())

# concat the 2 series responses
python_df = pd.concat([respondents,country_python_users], axis='columns')
python_df

In [ ]:
# rename columns for them to make sense
python_df.rename(columns={'count':'NumRespondents','languagehaveworkedwith':'NumKnowPython'}, inplace=True)
python_df

In [ ]:
# add new colum which will contain the percentage and calculate the percentage
python_df['percentage'] = (python_df['NumKnowPython'] / python_df['NumRespondents']) *100
python_df

In [ ]:
python_df.sort_values(by='percentage',ascending=False, inplace=True)
python_df

In [ ]:
# HANDLING MISSING DATA
# see on small data in the snippete file first

In [ ]:
df['YearsCode'] = df['YearsCode'].astype(float)
#  here we run into an error cz not only nan values and int values were there 
#  but also there were some strings that can not be converted to floar

In [9]:
# this will give all unique values of the column
df['YearsCode'].unique()

array([nan, '18', '27', '12', '6', '21', '4', '5', '20', '14', '10', '15',
       '11', '3', '24', '8', '13', 'Less than 1 year', '16', '33', '22',
       '30', '32', '7', '35', '28', '40', '17', '29', '19',
       'More than 50 years', '9', '38', '26', '34', '25', '2', '45', '23',
       '31', '43', '1', '48', '41', '50', '39', '42', '37', '36', '44',
       '46', '49', '47'], dtype=object)

In [10]:
#  now to replace those strings with the value we do use replace
df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
df['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [11]:
# now we again convert to float which will work
df['YearsCode'] = df['YearsCode'].astype(float)

In [12]:
# now view average no of year of experience
df['YearsCode'].mean()

np.float64(13.966855378281009)

In [13]:
df['YearsCode'].median()

np.float64(11.0)